:root {
    color-scheme: light dark;
    &:has(input[name="color-scheme"][value="light dark"]:checked) {
        color-scheme: light dark;
    }
    &:has(input[name="color-scheme"][value="light"]:checked) {
        color-scheme: light;
    }
    &:has(input[name="color-scheme"][value="dark"]:checked) {
        color-scheme: dark;
    }
    --common-text: rgb(137, 137, 137);
    --common-blue:rgb(3, 110, 205);    
    --bg-red: rgb(187, 45, 59);
    --bg-red-hover: rgb(139, 30, 30);
    --bg-green: rgb(32, 156, 32);
    --bg-green-hover: rgb(3, 103, 3);

    --light-main-bg-color: rgb(243, 243, 243);
    --light-item-bg-color: rgb(255, 255, 255);
    --light-item-hover-bg-color: rgb(243, 243, 243);
    --light-minor-bg-color: rgb(233, 233, 233);
    --light-main-border-color: rgb(204, 204, 204);
    --light-item-border-color: rgb(255, 255, 255);
    --light-main-text-color: rgb(17, 17, 17);
    --light-text-hover-color: rgb(17, 17, 17);
    --light-text-minor-color: rgb(204, 204, 204);

    --dark-main-bg-color: rgb(19, 20, 21);
    --dark-item-bg-color: rgb(40, 40, 40);
    --dark-item-hover-bg-color: rgb(58, 58, 58);
    --dark-minor-bg-color: rgb(42, 42, 42);
    --dark-main-border-color: rgb(85, 85, 85);
    --dark-item-border-color: rgb(65, 65, 65);
    --dark-main-text-color: rgb(137, 137, 137);
    --dark-text-hover-color: rgb(220, 220, 220);
    --dark-text-minor-color: rgb(85, 85, 85);
}

html, body {
    height: 100%;
    margin: 0px;
    background-color: light-dark(var(--light-main-bg-color), var(--dark-main-bg-color));
    overflow-x: hidden;
}

body, div, a, form, input, button, label {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: light-dark(var(--light-main-text-color), var(--dark-main-text-color));
}

body, div, a {
    -webkit-user-select: none;
    user-select: none;
}

div, button, input {
    outline: none !important;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

label {
    cursor: pointer;
}

button:disabled, button[disabled] {
    cursor: default !important;
}

input::placeholder {
    color: light-dark(var(--light-text-minor-color), var(--dark-text-minor-color));
    font-style: italic;
}

.drag-start-state {
    filter: grayscale(1);
    opacity: 0.1;
}

.group-container {
    position: fixed;
    display: flex;
    width: 100vw;
    border-bottom: 1px solid light-dark(var(--light-main-border-color), var(--dark-main-border-color)); 
    background-color: light-dark(var(--light-item-bg-color), var(--dark-item-bg-color));
    gap: 0px;
    z-index: 10;
}

.group-label {
    height: 40px;
    min-width: 80px;
    margin-right: 20px;
    padding: 0px 20px;
    font-size: 16px;
    color: var(--common-text);
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
    &:hover {
        color: light-dark(var(--light-text-hover-color), var(--dark-text-hover-color));
    }
}

.group-selected {
    background: light-dark(var(--light-item-hover-bg-color), var(--dark-item-hover-bg-color));
}

.group-visibility-hidden {
    visibility: hidden;
}

.add-new-group {
    min-width: 40px;
    background-color: transparent;
    font-size: 24px;
    color: var(--common-text);
    cursor: pointer;
    &:hover {
        background-color: light-dark(var(--light-item-hover-bg-color), var(--dark-item-hover-bg-color));
    }
}

.bookmark-container-outer {
    display: flex;
    justify-content: center;
}

.bookmark-container {
    position: relative;
    display: flex;
    top: 41px;
    max-width: 1908px;
    min-width: 1908px;
    flex-wrap: wrap;
    justify-content: start;
    z-index: 9;
}

.popup-mask, .message-mask {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.message-mask {
    z-index: 30 !important;
    align-items: start !important;
}

.message-container {
    position: absolute;
    top: -300px;
    min-width: 400px;
    min-height: 40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    overflow: hidden;
    transition: top 0.1s ease-out;    
    cursor: pointer;     
}

.message-container-show {
    top: 0px;
}

.message-default-cursor {
    cursor: default;      
}

.message-alert-theme, .message-confirm-theme {
    background-color: var(--bg-red);
}

.message-info-theme {
    background-color: var(--bg-green);
}

.message-body-container {
    display: flex;
    width: 100%;
    padding: 20px 10px;
}

.message-body {
    display: flex;
    margin-left: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    align-items: center;
}

.message-symbol {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.message-progress-bar {
    display: none;
    width: 100%; 
    height: 10px;
    padding: 0px;
}

.message-alert-progress-bar, .message-cancel:hover {
    background-color: var(--bg-red-hover);
}

.message-info-progress-bar, .message-confirm:hover {
    background-color: var(--bg-green-hover);
}

.message-progress-bar-fill {
    width: 0px;
    height: 10px;
}

.message-progress-bar-fill-run {
    width: 100%;
}

.message-confirm-button-container {
    display: none;
    margin-bottom: 10px;
    justify-content: end;
}

.message-confirm-button { 
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 18px;
    color:rgb(255, 255, 255);
    cursor: pointer;     
}

.message-confirm {
    background-color: var(--bg-green);
    transform: rotate(5deg);
}

.settings-panel, .form-container {
    display: none;
    padding: 10px;
    background-color: light-dark(var(--light-minor-bg-color), var(--dark-minor-bg-color));
    border: 6px solid s;
    border-radius: 5px;
    transition: height 0.2s, opacity 0.1s ease-in;
    opacity: 0;
}

.settings-panel-inner {
    display: flex;
    width: 560px;
    height: 430px;
    flex-wrap: nowrap;
}

.settings-sessions {
    width: 100%;
    min-height: 360px;
    border-left: 1px solid light-dark(var(--light-main-border-color), var(--dark-main-border-color));
    padding: 0px 10px 0px 10px;
}

div[class^='settings-menu-item-'] {
    line-height: 30px;
    padding-right: 15px;
    color: var(--common-text);
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        color: light-dark(var(--light-text-hover-color), var(--dark-text-hover-color));
    }
}

.settings-session-block {
    display: none;
    div {
        line-height: 30px;
    }
}

.item-divider {
    line-height: 15px !important;
    margin-bottom: 15px;
    border-bottom: 1px dotted light-dark(var(--light-main-border-color), var(--dark-main-border-color));
}

.indent-5px {
    padding-left: 5px;
}

.form-container-show {
    opacity: 1;
}

.form-close-button {
    position: relative;
    top: -5px;
    left: 5px;
    padding: 2px 6px;
    border: 0px;
    border-radius: 3px;    
    background-color: transparent;
    font-size: 18px;
    color: light-dark(var(--light-text-minor-color), var(--dark-text-minor-color));
    float: right;
    cursor: pointer;
    &:hover:enabled {
        background-color: light-dark(rgb(204, 204, 204), rgb(85, 85, 85));
        color: light-dark(var(--light-text-hover-color), var(--dark-text-hover-color));
    }
}

.form-disabled {
    filter: grayscale(1);
    cursor: default;
    button {
        cursor: default;
    }
}

.group-form {
    height: 145px;   
}

.bookmark-form {
    height: 290px;
    overflow: hidden;
}

.bookmark-form-small-expand {
    height: 335px;
}

.bookmark-form-full-expand {
    height: 512px;
}

.thumbnail-options {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    button {
        width: 30%;
        padding: 10px;
        background-color: light-dark(rgb(240, 240, 240), rgb(49, 49, 49));
        border: 2px solid light-dark(var(--light-item-border-color), var(--dark-item-border-color));
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
    }
}

.thumbnail-type-selected {
    border: 2px solid light-dark(rgb(204, 204, 204), rgb(102, 102, 102)) !important;
}

.thumbnail-custom-url, .thumbnail-upload-container {
    display: none;
}

.settings-panel-header, .settings-section-header, .group-form-header, .bookmark-form-header {
    display: inline-block;
    margin: 0px 0px 10px 2px;
    line-height: 24px !important;
    font-size: 20px;
    color: var(--common-blue)
}

.settings-section-header {
    color: light-dark(var(--light-main-text-color), var(--dark-main-text-color)) !important;
}

.form-elements-align {
    display: flex;
    align-items: center;
    div {
        display: flex;
        margin-left: 10px;
        justify-content: center;
    }
    input[type='checkbox'], input[type='radio'] {
        width: 18px;
        height: 18px;
        margin-right: 5px;
        cursor: pointer;
    }
    input[type='radio'] {
        position: relative;
        top: 3px;
    }
}

.field-label {
    margin: 0px 0px 5px 2px; 
    font-size: 16px;   
}

.text-field, .number-field {
    height: 24px;
    margin-bottom: 10px;
    border: 1px solid light-dark(var(--light-main-border-color), var(--dark-main-border-color));
    background-color: light-dark(transparent, rgb(55, 55, 55));
    border-radius: 3px;
}

.text-field {
    width: 390px;
    padding: 5px 5px 5px 8px;     
}

.blue-button {
    position: relative;
    top: 8px;
    width: 80px;
    height: 30px;
    background-color: var(--common-blue);
    border: 0px;
    border-radius: 3px; 
    color: rgb(255, 255, 255);
    float: right;
    cursor: pointer;
}

.bookmark-item {
    width: 256px;
    height: 192px;
    min-width: 256px;
    min-height: 192px;
    margin: 30px;
    border: 1px solid light-dark(var(--light-main-border-color), var(--dark-main-border-color));
    border-radius: 3px;    
    background-color: light-dark(var(--light-item-bg-color), var(--dark-item-bg-color));
    cursor: pointer;
}

.bookmark-thumbnail {
    height: 100%;
    clip-path: rect(0px 256px 160px 0px);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.bookmark-label {
    position: relative;
    display: inline-block;
    top: -24px;
    width: 256px;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.add-new-bookmark {
    border: 1px solid transparent;     
    background-color: transparent;   
    font-size: 30px;
    color: light-dark(rgb(204, 204, 204), rgb(40, 40, 40));
    &:hover {
        color: light-dark(var(--light-text-hover-color), var(--dark-text-hover-color));
        background-color: light-dark(rgb(204, 204, 204), rgb(40, 40, 40));
    }
}

.delete-group-button-container, .delete-bookmark-button-container {
    position: relative;
    display: none;
    gap: 5px;
    top: 10px;
    left: -3px;
    width: 200px;
}

.delete-button {
    display: flex;
    width: 30px;
    height: 30px;
    border: 0px;
    background-color: transparent;
    color: rgb(187, 45, 59);
    white-space: nowrap;
    align-items: center;
    filter: grayscale(0);
    overflow: hidden;
    transition: width 0.1s;
    cursor: pointer;
    span {
        font-size: 16px;
    }   
}

.delete-group-button:hover:enabled {
    width: 140px;
}

.delete-bookmark-button:hover:enabled {
    width: 176px;
}

.drop-area-mock, .drop-area-file-input, .import-upload-container, .thumbnail-upload-container, .background-upload-container {
    display: none;
}

.background-upload-container {
    margin-top: 10px;
}

.drop-area-container{
    width: auto;
    height: 192px;
    padding: 10px;
    background-color: light-dark(var(--light-minor-bg-color), var(--dark-minor-bg-color));
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;     
    border: 6px solid light-dark(var(--light-item-border-color), var(--dark-item-border-color));
    border-radius: 5px;
}

.drop-area-content {
    display: grid;
    grid-template-rows: 122px 20px 50px;
    div {
        width: 100%;
    }
}

.dragging-in {
    background-color: rgb(156, 237, 170);
    background-size: 0 0 !important;
}

.select-file-button, .settings-button {
    width: 100px;
    padding: 0px 10px;
    white-space: nowrap;
}

.settings-button {
    position: relative;
    top: -1px;
    left: 10px;
    width: 120px;
    padding-bottom: 2px;
    margin-right: 15px;
    float: unset !important; 
}

.app-menu-container {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 40px;
    overflow: hidden;
    z-index: 11;
}

.app-menu-container-show {
    overflow: visible;
}

.app-menu-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    background-color: light-dark(var(--light-item-bg-color), var(--dark-item-bg-color));
    font-size: 30px;
    color: var(--common-text);
    transform: rotate(90deg);
    z-index: 12;
    cursor: pointer;
    &:hover {
        background-color: light-dark(var(--light-item-hover-bg-color), var(--dark-item-hover-bg-color));
        color: light-dark(var(--light-text-hover-color), var(--dark-text-hover-color));
    }
}

.app-menu-content {
    position: relative;
    display: grid;
    top: 41px;
    background-color: light-dark(var(--light-item-bg-color), var(--dark-item-bg-color));
    border: 1px solid light-dark(var(--light-main-border-color), var(--dark-main-border-color));
    border-bottom-left-radius: 10px;
    box-shadow: -1px 1px 3px light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
    grid-template-rows: 0fr;
    transition: grid-template-rows .1s;
    div {
        padding: 5px 10px;
        color: var(--common-text);
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        &:not(:last-child) {
            border-bottom: 1px solid light-dark(var(--light-main-border-color), var(--dark-main-border-color));
        }
        &:hover {
            color: light-dark(var(--light-text-hover-color), var(--dark-text-hover-color));
        }
    }
}

.app-menu-content-expand {
    grid-template-rows: 1fr;
}

.app-menu-divider {
    height: 1px;
    padding: 0px !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;      
}

.footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    color: light-dark(var(--light-text-minor-color), var(--dark-text-minor-color));
    z-index: 0;
}